.DS_Store
.vscode
*.log
dist/apps/*/stats.json

.env*.local

.git
.gitignore
.dockerignore

node_modules
tmp

Dockerfile

.next

.gitlab-ci.yml
docker-compose.yml

README.md
migrations.json

.yarn/cache
.yarn/install-state.gz

todo.md
